{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1>Hi, {{ user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}

    <div class="w3-clear search" style="max-width:300px;margin:auto">
        <span class="fa fa-search"></span>

    <input type="text" id="myInput" onkeyup="filterFunction()" placeholder="Search for names..">
        <ul id="myUL">
      {% for color in colors %}
        <li><a href="#">{{color}}</a></li>
      {% endfor %}
    </ul>
    </div>


</select>
<script src="{{url_for('static', filename='js/filter.js')}}"></script>
{% endblock %}